<div class="container text-center col-xs-12 col-sm-12">

  <%= link_to("Back to search", "javascript:history.go(-3)", class: "btn btn-pink btn-hover btn-calendar") %>

  <p class="btn btn-primary btn-hover btn-calendar" id="calendar-show" data-toggle="modal" data-target="#modal-calendar">Show calendar</p>

  <% @requests.each do |request| %>
  <div class="listing">
    <% if request.status == "pending" %>
      <div class="pending request-status request request-border-right">
      <%= request.status %>
      </div>
    <% else %>
      <div class="request-status request request-border-right">
      <%= request.status %>
      </div>
    <% end %>

    <div class="request request-border">
      <div class="request-price">
        <%=  cl_image_tag(request.viewing.room.flat.card_image, crop: :fill, height: 120) %>
      </div>
      <div class="request-body text-left">
        <%= link_to request_path(request) do %>
        <div class="request-title">
          <h3><%= request.viewing.room.flat.title %></h3>
          <h5><%= request.viewing.start_time.strftime("%l:%M %P -  %A %eth %B") %></h5>
        </div>
        <p class="request-address"><strong><%= request.viewing.room.flat.neighborhood %></strong>, <%= request.viewing.room.flat.address %></p>
      </div>
      <% end %>

      <div>
        <% if chat = request.chat_room && request.status == "accepted" %>
          <%= link_to "Send Message", chat_room_path(request.chat_room), class: "btn btn-pink btn-requests-card" %>
        <% else %>
          <div class="btn btn-pink btn-pale btn-requests-card">Send Message</div>
        <%  end %>
      </div>

      <div>
        <p class="btn btn-pink btn-hover btn-requests-card">Cancel</p>
      </div>

    </div>

  </div>
  <% end %>
</div>

<div id="modal-calendar" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'calendar' %>
    </div>
  </div>
</div>
