<div class="container text-center col-xs-12 col-sm-12">
  <h1>My viewings</h1>
  <p class="btn btn-hover btn-calendar" data-toggle="modal" data-target="#modal-calendar">Show calendar</p>

  <% @requests.each do |request| %>

  <div class="listing">

    <div class="request-status request">
      <%= request.status %>
    </div>
    <div class="request">
      <div class="request-price"> <%= request.viewing.room.flat.monthly_price %>€ </div>

      <div class="request-body">
        <h3> <b>  <%= request.viewing.room.flat.title %></b></h3>
        <p><%= request.viewing.room.flat.neighborhood %></p>
        <p><%= request.viewing.room.flat.address %></p>
      </div>

      <div>
        <p class="btn btn-hover">Send Message</p>
      </div>

      <div>
        <p class="btn btn-hover">Cancel</p>
      </div>
    </div>

  </div>
  <% end %>
</div>

<div id="modal-calendar" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'calendar' %>
    </div>
  </div>
</div>
