<div class="container text-center col-xs-12 col-sm-12">
  <h1>My viewings</h1>
  <p id="calendar-button" class="btn btn-hover btn-calendar">Show calendar</p>

  <% @requests.each do |request| %>

  <div class="listing">

    <div class="request-status request">
      <%= request.status %>
    </div>
    <div class="request">
      <div class="request-price"> <%= request.viewing.room.flat.monthly_price %>€ </div>

      <div class="request-body">
        <h3> <b>  <%= request.viewing.room.flat.title %></b></h3>
        <p><%= request.viewing.room.flat.neighborhood %></p>
        <p><%= request.viewing.room.flat.address %></p>
      </div>

      <div>
        <p class="btn btn-hover">Send Message</p>
      </div>

      <div>
        <p class="btn btn-hover">Cancel</p>
      </div>
    </div>

  </div>
  <% end %>
</div>

<div id="calendar"></div>
