<div class="container text-center col-xs-12 col-sm-12">

  <h1>My Requests</h1>
  <p class="btn btn-hover btn-calendar" data-toggle="modal" data-target="modal-calendar">Show calendar</p>

  <% @requests.each do |request| %>

  <div class="listing">

    <div class="request-status request request-border-right">
      <%= request.status %>
    </div>
    <div class="request request-border">
      <div class="request-price"> <%= request.viewing.room.flat.monthly_price %>€ </div>
      <div class="request-title">
        <h3><%= request.viewing.room.flat.title %></h3>
      </div>

      <div class="request-body text-left">
        <p><strong><%= request.viewing.room.flat.neighborhood %></strong></p>
        <p><%= request.viewing.room.flat.address %></p>
      </div>

      <div>
        <% if chat = request.chat_room && request.status == "accepted" %>
          <%= link_to "Send Message", chat_room_path(chat), class: "btn btn-pink" %>
        <%  end %>
      </div>

      <div>
        <p class="btn btn-hover">Cancel</p>
      </div>
    </div>

  </div>
  <% end %>
</div>

<div id="modal-calendar" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'calendar' %>
    </div>
  </div>
</div>
