<div class="container text-center note">
  <h1>Your booking has been confirmed!</h1>
  <h3><%= @request.viewing.room.flat.title %></h3>


  <h4>Your viewing is on <%= @request.slot%>.</h4>
  <%= cl_image_tag @request.viewing.room.flat.card_image, class: "note-image" %>
  <p>You can meet your new FlatBuddies at the following address: <strong><%= @request.viewing.room.flat.address %></strong></p>
  <p>You can text the owner under My-Requests!</p>
  <p> Good luck with the Viewing!</p>
  <p class="signature">The FlatBuddy Team </p>
  <div class="container text-center button">
    <%= link_to("See all your Requests", requests_path, class: "btn btn-warning text-center btn-space") %>
  </div>
</div>
