<div class="container filter">
  <div class="col-xs-12 col-sm-3 filter-form">
    <%= render 'rooms/filter' %>
  </div>
  <div class="col-xs-12 col-sm-9 card-container">
    <div class="row">
      <% @rooms.each do |room| %>
      <div class="col-xs-12 col-md-6 wrapper">
        <%= link_to('', room_path(room), class: "card-link") %>
        <div class="card">
          <div class="card-header", style="background-image: url('<%= cl_image_path room.flat.card_image, crop: :fit %>')">
          </div>
          <div class="card-footer">
            <h6><%= room.flat.title %></h6>
            <!-- <div class="flat-price"><%= room.flat.monthly_price %>£</div> -->
            <p>
              <% room.flat.users.each do |user| %>
              <%= user.first_name %>
              <% end %>
            </p>
            <p><%= room.flat.address %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
