<div class="container">
  <div class="col-xs-12 col-sm-3 filter">
    <%= render 'shared/filter' %>
  </div>
  <div class="col-xs-12 col-sm-9 card-container">
    <div class="row">
      <% @rooms.each do |room| %>
      <div class="col-xs-12 col-md-6 wrapper">
        <%= link_to('', room_path(room), class: "card-link") %>
        <div class="card">
          <div class="card-header", style="background-image: url('<%# cl_image_path(room.flat.photos.first) %>')">
        </div>
        <div class="card-footer">
          <h6><%= room.flat.title %></h6>
          <p>
            <% room.flat.users.each do |user| %>
            <%= user %>
            <% end %>
          </p>
          <p><%= room.flat.address %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div id="map"></div>
