<div class="container filter">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="filter-form" data-spy="affix" data-offset-top="70">
        <%= render 'rooms/filter' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 card-container">
      <div class="row">
        <% @rooms.each do |room| %>
        <div class="col-xs-12 col-md-6 wrapper">
          <%= link_to('', room_path(room), class: "card-link") %>
          <div class="card">
            <div class="card-header", style="background-image: url('<%= cl_image_path room.flat.card_image, crop: :fit %>')">
            </div>
            <div class="card-footer">
              <div class="line-one">
                <h6><%= room.flat.title %></h6>
                <div class="flat-price">£<%= room.flat.monthly_price %></div>
              </div>
              <p>
                <% room.flat.users.each do |user| %>
                <%= user.first_name %> |
                <% end %>
              </p>
              <strong> <%= room.flat.neighborhood %></strong>
              <p class="card-address"><%= room.flat.address[0..-21]%></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
