<div class="container filter">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="filter-form" data-spy="affix" data-offset-top="70">
        <%= render 'rooms/filter' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 card-container">
      <div class="row">
        <% @rooms.each do |room| %>
        <div class="col-xs-12 col-md-6 wrapper">
          <%= link_to('', room_path(room), class: "card-link") %>
          <div class="card">
            <div class="card-header", style="background-image: url('<%= cl_image_path room.flat.card_image, crop: :fit %>')">
                <div class="flat-price">£<%= room.flat.monthly_price %></div>
            </div>
            <div class="card-footer">
              <div class="line-one">
                <h6><%= room.flat.title %></h6>
              </div>
              <p>
                <% room.flat.users.each do |user| %>
                <%= user.first_name %> |
                <% end %>
              </p>
              <strong> <%= room.flat.neighborhood %></strong>
              <p class="card-address"><%= room.flat.address%></p>

              <div class="icon-wrapper">
                <% common = room.shared_interests(current_user) %>
                <div class="icon-title">
                  <% if common.nil?%>
                    <%= "0" %>
                    <% else %>
                      <%= common.length %>
                  <% end %>
                  Matches
                </div>
                <div class="icons">
                  <% if common != nil%>
                    <% common.first(3).each do |interest| %>
                      <div>

                          <% asset_url = "#{interest}.png" %>

                        <%= image_tag(asset_url, {class: "icon-img", id: "#{interest}", :width =>30, :height => 30, :crop => :thumb, :gravity => :face}) %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>

            </div>


          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



