<div class="container">
  <div class="room-banner">
    <div class="room-price">
      <p><%= @room.flat.monthly_price%>€/month</p>
    </div>
    <div class="room-title">
      <h2> <b>Title:</b> <%= @room.flat.title %> </h2>
      <p> <b>District:</b> <%= @room.flat.neighborhood%>, <%= @room.flat.address%> </p>
    </div>
  </div>
  <div class="interests">
    <h3> There are <%= @room.flat.users.length %> in this flat! </h3>
    <% @room.flat.users.each do |user| %>
    <%= user %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <% @room.flat.users.each do |user| %>
    <div class="row">
      <%= cl_image_tag user.photo.path %>
      <%= user.first_name %>
    </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h3>Pick a meeting date</h3>
    <%= render 'form' %>
    <div class="room-description">
      <h4>About the flat</h4>
      <%= @room.flat.description%>
    </div>
  </div>
  <div id="map">
    <p>Map is going here</p>
  </div>
</div>
