<% content_for :meta_title, "#{@room.flat.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @room.flat.description %>
<% content_for :meta_image, cl_image_path(@room_photo) %>

<div class="container">
  <div class="room-banner", style="background-image:
  url('<%= cl_image_path @room_photo, crop: :fill, gravity: :face %>')">
  <div class="room-price">
    <p>£<%= @room.flat.monthly_price%>/m</p>
  </div>
  <div class="room-title-background"></div>
  <div class="room-title">
    <h2> <b>Title:</b> <%= @room.flat.title %> </h2>
    <p> <b>District:</b> <%= @room.flat.neighborhood%>, <%= @room.flat.address%> </p>
  </div>
</div>
<div class="interests text-center">
  <h3 class="commons-title"> You share some interests! </h3>
  <div class="interests-wrapper">
    <% @interests.each do |interest| %>
    <div class="interest-card">
      <div>
        <% asset_url = "#{interest}.png" %>
        <%= image_tag(asset_url, {class: "interest-img", id: "#{interest}", :width =>100, :height => 100, :crop => :thumb, :gravity => :face}) %>
      </div>
      <div class="interest-title">
        <%= MATCHING[interest.to_sym] %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="col-xs-12 col-sm-7">
  <h4> There are <%= @room.flat.users.length %> FlatBuddies in this flat! </h4>
  <% @room.flat.users.each do |user| %>
  <div class="row user-card">
    <div class="col-xs-3 user-image">
      <%= cl_image_tag(user.facebook_picture_url, :width =>100, :height => 100, :crop => :thumb, :gravity => :face, class: "user-img") %>
    </div>
    <div class="col-xs-9 user-description">
      <h4><%= user.first_name %></h4>
      <p><%= user.bio %></p>
    </div>
  </div>
  <% end %>
  <div class="room-description">
    <br>
    <h4>About the flat</h4>
    <%= @room.flat.description%>
    <br>
    <br>
    <ul id="description-list">
      <% if @room.flat.deposit %>
      <li><%= "Deposit: #{@room.flat.currency}#{@room.flat.deposit}" %></li>
      <br>
      <% end %>
      <% if @room.flat.preffered_max_age %>
      <li><%= "Preferred maximum age: #{@room.flat.preffered_max_age} years old" %></li>
      <br>
      <% end %>
      <% if @room.flat.has_parking %>
      <li><%= "Includes parking" %></li>
      <br>
      <% end %>
      <% if @room.flat.allow_students %>
      <li><%= "Allows students" %></li>
      <br>
      <% end %>
      <% if @room.flat.allow_pets %>
      <li><%= "Allows pets" %></li>
      <br>
      <% end %>
      <% if @room.flat.allow_smokers %>
      <li><%= "Allows smokers" %></li>
      <br>
      <% end %>
      <% if @room.flat.bills_included %>
      <li><%= "Bills included" %></li>
      <br>
      <% end %>
      <% if @room.flat.couples_allowed %>
      <li><%= "Couples allowed" %></li>
      <br>
      <% end %>
      <% if @room.flat.ensuite  %>
      <li><%= "Ensuite included"%></li>
      <br>
      <% end %>
      <% if @room.flat.accessible %>
      <li><%= "Wheelchair accessible" %></li>
      <br>
      <% end %>
      <% if @room.flat.accessible %>
      <li><%= "Wheelchair accessible" %></li>
      <br>
      <% end %>
    </ul>
  </div>
  <div class="room-amenities list-inline">
    <h4>Amenities</h4>
    <% @room_amenities.each do |amenitie| %>
    <div class="col-xs-6">
      <%= amenitie %>
    </div>
    <% end  %>
  </div>
</div>
<div class="col-xs-12 col-sm-4 col-sm-offset-1 flat-form text-center">
  <h3>Pick a meeting date</h3>
  <%= render 'form' %>
</div>
</div>
<div id="show-map"></div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>

var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'show-map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>
